.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url(../../image/banner-fix.jpg);
	background-size: cover;
	background-position: center;
	height: 470px
}
.banner {
	text-transform: capitalize;
	text-align: center;
	padding-top: 220px;
}
